<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Ball</title>
  </head>
  <body>
    <h1>Create Ball:</h1>
    <form action="/balls" method="POST">
      <h3>Name: <input type="text" name="name"></h3>
      <h3>Brand: <input type="text" name="brand"></h3>
      <h3>Color: <input type="text" name="color"></h3>
      <h3>Weight: <input type="text" name="weight"></h3>
      <h3>Coverstock: <input type="text" name="coverstock"></h3>
      <h3>Release Date: <input type="date" name="release_date"></h3>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
