<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Bag</title>
  </head>
  <body>
    <h1>Hello <%=@user.username%>!</h1>
    <br>
    <h3>These are the balls in your bag:</h3>
    <br>
    <% @user.balls.each do |ball| %>
    <li><a href="/balls/<%=ball.id%>"><%=ball.brand%> <%=ball.name%></a></li>
    <% end %>
    <p><a href="/balls/new">Add ball</a></p>
  </body>
</html>
